<script type="text/x-handlebars-template" id="auth-register-template">
  <h1>Register</h1>
  <form>
    <input class="input-xlarge" type="text" name="username" placeholder="Username">
    <input class="input-xlarge" type="password" name="password" placeholder="Password">
    <input class="input-xlarge" type="password" name="confirm-password" placeholder="Repeat password">
    <button class="btn" type="submit">Sign up</button>
  </form>
</script>
